@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat|Press+Start+2P&display=swap');

.heading {
	width: 1440px;
	height: 200px;
	background-color: #E5E000;
	color: #FFFFFF;
}

.heading h1 {
	font-family: 'Press Start 2P', cursive;
	font-weight: bold;
	font-size: 50px;
	line-height: 200px;
	text-align: center;
	text-transform: uppercase;
}

.image {
	width: 1440px;
	height: 1080px;
	background-image: url(../img/img.png);
	background-size: cover;
	background-position: center;
}

.menu {
	width: 1440px;
	height: 100px;
	background-color: #E5E000;
	color: #FFFFFF;
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
}

.menu nav {
	margin-left: 80px;
}

.menu nav a {
	color: #FFFFFF;
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	line-height: 100px;
	text-decoration: none;
	text-transform: uppercase;
}

.text {
	width: 1280px;
	height: 627px;
	color: #000000;
	margin: 110px 80px;
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 57px;
}

.footer {
	width: 1440px;
	height: 200px;
	background-color: #E5E000;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: 80px center;
}