@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

/*жду лучший вариант с фиксацией шапки*/

.heading {
	display: flex;
	height: 140px; 
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
	background-color: #FFFFFF;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	z-index: 1;
}

a {
	font-size: 50px;
	font-family: 'PT Sans', sans-serif;
	text-decoration: none;
	color: #E50043;
}

.links {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.links a {
	margin-left: 25px;
	width: 118.41px;
}

.invisible {
	height: 140px;
	box-sizing: border-box;
	display: flex;
}

.image {
	height: 950px;
	display: flex;
	align-items: center;
	background-image: url(../img/evian_origins_logo.jpg);
	background-size: cover;
	background-position: center;
	font-size: 100px;
	font-family: 'PT Sans', sans-serif;
	color: #E50043;
}

.image div {
	margin: auto;
	text-align: center;
}

#text-section {
	padding: 150px 200px 0px 200px;
}

.text {
	box-sizing: border-box;
	border: 3px solid #F8BFC7;
	border-radius: 20px;
	padding: 24px;
	font-size: 25px;
	font-family: 'PT Sans', sans-serif;
	color: #000000;
	line-height: 29px;
	letter-spacing: 0.05em;
}

#icons-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	box-sizing: border-box;
	padding-top: 150px;
}

.icons {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.icons-text {
	font-size: 25px;
	font-family: 'PT Sans', sans-serif;
	color: #000000;
	line-height: 29px;
	text-align: center;
	padding: 42px 0px;
}

#composition-section {
	padding: 150px 200px;
}

.composition {
	box-sizing: border-box;
	border: 3px solid #F8BFC7;
	border-radius: 20px;
	font-size: 25px;
	font-family: 'PT Sans', sans-serif;
	color: #000000;
	line-height: 29px;
	letter-spacing: 0.05em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	padding: 30px;
}

.composition img {
	height: 220px;
	margin: 0px 80px 0px 50px;
}

.footing {
	display: flex;
	height: 140px;
	box-sizing: border-box;
	padding: 50px;
	background-color: #F8BFC7;
	font-size: 50px;
	font-family: 'PT Sans', sans-serif;
	color: #FFFFFF;
	justify-content: space-between;
	align-items: center;
}

.footing a {
	font-size: 50px;
	font-family: 'PT Sans', sans-serif;
	text-decoration: none;
	color: #FFFFFF;
}