@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat|Press+Start+2P&display=swap');

.heading {
	display: flex;
	height: 200px;
	background-color: #E5E000;
	color: #FFFFFF;
}

.heading h1 {
	font-family: 'Press Start 2P', cursive;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	margin: auto;
}

.image {
	display: flex;
	background-image: url(../img/img.png);
	background-size: cover;
	background-position: center;
	padding-bottom: 100%;
}

.menu {
	display: flex;
	min-height: 100px;
	background-color: #E5E000;
	color: #FFFFFF;
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
}

.menu nav {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.menu nav a {
	color: #FFFFFF;
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 29px;
}

.menu nav div {
	margin: 0px 10px;
}

.text {
	display: flex;
	padding: 110px 80px;
}

.text div {
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 57px;
}

.footer {
	display: flex;
	height: 200px;
	background-color: #E5E000;
	box-sizing: border-box;
	align-items: center;
	padding-left: 80px;
}